@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-pri {
		@apply py-3 px-12 rounded-full cursor-pointer;
	}

	.footer__mobile-background-img {
		background-image: linear-gradient(
				to right,
				rgb(77, 150, 169, 0.8),
				rgb(77, 150, 169, 0.8)
			),
			url("/assets/mobile/image-footer.jpg");
		background-position: top;
		background-repeat: no-repeat;
	}

	.footer__tablet-background-img {
		background-image: linear-gradient(
				to right,
				rgb(77, 150, 169, 0.8),
				rgb(77, 150, 169, 0.8)
			),
			url("/assets/tablet/image-footer.jpg");
		background-position: top;
		background-repeat: no-repeat;
	}

	.footer__desktop-background-img {
		background-image: linear-gradient(
				to right,
				rgb(77, 150, 169, 0.8),
				rgb(77, 150, 169, 0.8)
			),
			url("/assets/desktop/image-footer.jpg");
		background-position: top;
		background-repeat: no-repeat;
	}

	.hero-grid__xl {
		grid-template-columns: 1fr auto 1fr;
	}
}
